ZHIYIQUANT_OWNER_USERNAME=owner
ZHIYIQUANT_OWNER_PASSWORD=zhiyiquant
ZHIYIQUANT_OWNER_NICKNAME=智弈量化
LOG_LEVEL=INFO
ZHIYIQUANT_APP_DIR_NAME=zhiyiquant
PYTHON_API_HOST=127.0.0.1
PYTHON_API_PORT=5051
